<div class="container h-100">
    <div class=" row h-100 justify-content-center align-items-center center">
      <div class="card card-container center  " style="border-radius: 1.25em;">
          <div class="card" style="border-radius: 1.25em;">
          <article class="card-body login" style="border-radius: 1.25em;" >
            <div class="head">  
            </div>
            <div class="head">  
             <h2> Kayıt Ol</h2>
            </div>
             <form *ngIf="!isSuccessful"
             name="form"
             (ngSubmit)="f.form.valid && onSubmit()"
             #f="ngForm"
             novalidate>
             <div class="form-group">
              <label for="email">Email</label>
              <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
              />
              <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors?.['required']">Email gerekli !</div>
                <div *ngIf="email.errors?.['email']">
                  Geçerli bir mail adresi giriniz !
                </div>
              </div>
            </div>
             <div class="form-group">
              <label for="username">Kullanıcı Adı</label>
              <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              />
              <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors?.['required']">Kullanıcı adı giriniz !</div>
                <div *ngIf="username.errors?.['minlength']">
                  Kullanıcı adı en az 3 karakter içermelidir !
                </div>
                <div *ngIf="username.errors?.['maxlength']">
                  Kullanıcı adı en fazla 20 karakter içerebilir !
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Şifre</label>
              <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              />
              <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors?.['required']">Şifre giriniz!</div>
                <div *ngIf="password.errors?.['minlength']">
                  Şifreniz en az 6 karakter olmalıdır !
                </div>
              </div>
            </div>
  
            <div class="form-group" style="margin-top: 23%;">
              <button class="btn btn-secondary btn-block button">Kayıt ol</button>
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Islem basarisiz<br />{{ errorMessage }}
            </div>                                            
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Kayıt Başarılı!
          </div>
  
          </article>
  
  
  <!-- <div class="col-md-12">
      <div class="card card-container">
        <img
          id="profile-img" width="400" height="200"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card"
        />
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Username is required</div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
    
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
    </div> -->
